@import url('https://fonts.googleapis.com/css2?family=Delius+Unicase&family=Montserrat&display=swap');

#content {
    width: 1600px;
    margin: 0 auto;
    background: azure;
}


nav a, #hero-msg h1, #hero-msg h4,
.button-box, main section {
    text-align: center;
}

#hero-img {
    width: 1600px;
}

#background {
    height: 725px;
    background-color: #243e36;
}

body {
    background-color: #fcfbfb; 
    font-family: Montserrat, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    background-color:#243e36;
}

nav a:hover {
    background-color: wheat;
    color: #243e36;
}

.book, .join {
    background-color: rgb(22, 179, 121);
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color:#7ca982;
}
.msg {
    background-color: #243e36;
    line-height: 1.5em;
    padding: 35px;
}

footer {
    background-color: #243e36;
}

nav a {
    color: #ecd68c;
    text-decoration: none;
    padding: 35px;
}


.home-title {

    color: black;
    font-family: "Delius Unicase";
    font-size: 2em;
    margin-top: 10px;
}
h4 {

    color: black;
}

.msg h2 {
    background-color: #243e36;
    color: #ecd68c;
    font-family: "Delius Unicase";
}
.msg p {
    background-color: #243e36;
    color: #ecd68c;
    font-size:.8em;
    font-family: Montserrat, Helvetica, sans-serif;
    padding-bottom: 15px;
}

footer a {
    color: white;
    text-decoration: none;
}
footer a:hover{
    color: black;
    
}
    
.logo, .icon {
    width: 80px;
}
  
footer p {
    font-size: 1.2em;
}  

footer p a:hover {
    text-decoration: underline;
}  

h2 {
    margin: 0;
}
     
#logo_link  {
    padding-top: 5px;
} 

.icon {
    padding-top: 10px;
}

footer {
    padding: 25px 50px;
    margin-top: 200px;
}

main .mountains {
    padding: 25px
}

footer .social img {
    padding-top: 15px;
}

.rivers-card, .camping-card, .rapids-card  {
     margin: 200px 0;
     border: #243e36;
}

.card-img {
    border: 10px solid #243e36;}

main section img {
    box-sizing: border-box;
}