@import url('https://fonts.googleapis.com/css2?family=Delius+Unicase&family=Montserrat&display=swap');

#content {
    width: 1600px;
    margin: 0 auto;
    background: azure;
}

nav a, #hero-msg h1, #hero-msg h4,
.button-box, main section {
    text-align: center;
}

#hero-img {
    width: 1600px;
}

#background {
    height: 725px;
    background-color: #243e36;
}

body {
    background-color: #fcfbfb; 
    font-family: Montserrat, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
nav {
    display: flex;
    justify-content: space-around;
}
header {
    display: grid;
    background-color:#243e36;
    grid-template-columns: 150px auto;
}


#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-msg h4, #hero-msg h1 {
    color: white;
    
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.card-img, .mountains {
    width: 100%;
}

.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}

.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}

#background {
    background-color: #ecd68c;
    grid-column: 1/11;
    grid-row: 4/9;
}

.mountains {
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}

.msg {
    background-color: #6f7364;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}

nav a:hover {
    background-color: wheat;
    color: #243e36;
}

.book, .join {
    background-color: rgb(22, 179, 121);
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color:#7ca982;
}
.msg {
    background-color: #243e36;
    line-height: 1.5em;
    padding: 35px;
}

footer {
    background-color: #243e36;
    padding: 25px 50px;
    margin-top: 200px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    color: #ecd68c;
    text-decoration: none;
    padding: 35px;
}


.home-title {

    color: black;
    font-family: "Delius Unicase";
    font-size: 2em;
    margin-top: 10px;
}
h4 {

    color: black;
}

.msg h2 {
    background-color: #243e36;
    color: #ecd68c;
    font-family: "Delius Unicase";
}
.msg p {
    background-color: #243e36;
    color: #ecd68c;
    font-size:.8em;
    font-family: Montserrat, Helvetica, sans-serif;
    padding-bottom: 15px;
}

footer a {
    color: white;
    text-decoration: none;
}
footer a:hover{
    color: black;
    
}
    
.logo, .icon {
    width: 80px;
}
  
footer p {
    font-size: 1.2em;
}  

footer p a:hover {
    text-decoration: underline;
}  

h2 {
    margin: 0;
}
     
#logo_link  {
    padding-top: 5px;
} 

.icon {
    padding-top: 10px;
}

main .mountains {
    padding: 25px
}

footer .social img {
    padding-top: 15px;
}

.rivers-card, .camping-card, .rapids-card  {
     margin: 200px 0;
     border: #243e36;
}

.card-img {
    border: 10px solid #243e36;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;}
    
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
    }

main section img {
    box-sizing: border-box;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}

#page2css
main {
    align-items: center;

}
main h2 {
    text-align: center;
    margin: 20px;
    border:20px;  
    padding: 20px  
}
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: center;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    margin: 10px;
  }
  
  .active, .accordion:hover {
    background-color: #243e36; 
    color: #eee;
  }
  
  .panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
  }